.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 16px;
padding: 20px;
padding-bottom: 0px;
}

.card-header h4{
    font: normal normal 800 24px/33px Manrope;
color: #072635;
margin-bottom: 0;
}

.card-body {
    padding: 35px 25px;
}

.lab-result-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lab-result-name {
    font: normal normal normal 13px/18px Manrope;
color: #072635;
text-transform: capitalize;
}

.lab-result-value {
    width: 20px;
    height: 20px;
}